body
{
    background-color : #FFFFFF;

    scrollbar-arrow-color : #FFFFFF;
    scrollbar-track-color : #FFFFFF;
    scrollbar-face-color : #6699CC;
    scrollbar-highlight-color : #1D61E9;
    scrollbar-3dlight-color : #FFFFFF;
    scrollbar-darkshadow-color : #082256;
    scrollbar-shadow-color : #082256;
}
.text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;

}
table.pourEnumeration {
    background-color: #C1C1C1;
}

table.pourEnumeration tr td {
    background-color: #FFFFFF;
}
td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}

.textrouge {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FF0000;
}

th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}
th, table.pourEnumeration tr.tableHeading, tr.tableHeading, table.pourEnumeration tr td.tableHeading, td.tableHeading {
    color: #FFFFFF; font-weight: bold;
    background-color: #6699CC;
}
tr.tableAlternateRow, table.pourEnumeration  tr.tableAlternateRow, td.tableAlternateRow, table.pourEnumeration tr td.tableAlternateRow {
    color: #000000;
    background-color: #EBEBEB;
}

.b { font-weight: bold} .i { font-style: italic}

a:link { color: #3399FF; text-decoration: none}
a:visited { color: #336699; text-decoration: none}
a:hover { color: #3399FF; text-decoration: underline}

.exp { vertical-align:super; font-size:80% }
.border { border: 1px solid #999999}
.borderbleu { border: 1px solid #6699CC}
.haut {  font-size: 10px; font-weight: normal}
.titre2-ligne {  color: #333333; text-decoration: overline; line-height: normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 13px}
.titre3blanc {  color: #FFFFFF; font-weight: bold}
.justifier { text-align: justify;}
.basdepage {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-align: left}
.textgauche {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000}
td.textgauche p.LIGNEMENU a {
    font-size: 11px;
}
.miettesPain {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000}

.ES {background-color:red; color:white; font-family:sans-serif; font-size:0.7em; font-weight:600}
.BA {background-color:#00CC00; color:white; font-family:sans-serif; font-size:0.7em;  font-weight:600}
.CE {background-color:#0000FF; color:white; font-family:sans-serif; font-size:0.7em;  font-weight:600}.LIGNEMENU {
    margin-bottom: 7px;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 0px;
}
.legende {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bold; color: #000000}

.textnoir { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}

.titre1, h1 {
    font-weight:bold;
    font-size:17px;
    color:#336699;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}
.titre2, h2 {
    font-weight:bold;
    font-size:13px;
    color:#000000;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}
.titre3, h3 {
    font-weight:bold;
    font-size:12px;
    color:#666666;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    margin-bottom:5px;
}
td ul , ul {
    padding-left: 1em;
    margin-left: 15px;
}
ul li { list-style-image: url(http://www.ressources.polymtl.ca/img/puce_UL_niv_1.gif);
	margin-top: 4px;
	padding-right:0;
	padding-left:0;
	padding-bottom:10px;
	margin-left:0;
	padding-top:0;
	list-style-position: outside;
	list-style-type: disc; color: #000000
      }


ul li li { list-style-image: url(http://www.ressources.polymtl.ca/img/puce_UL_niv_2.gif);
	   margin-top: 3px;
	 }

ul li li li { list-style-image: url(http://www.ressources.polymtl.ca/img/puce_UL_niv_3.gif);
	    }

ul li li li li { list-style-image: url(http://www.ressources.polymtl.ca/img/puce_UL_niv_4.gif);
	       }
/* css pour les ul des les tables */
ul.sanspuce, li.sanspuce {
    list-style-type: none;
    list-style-image: url(none);

}

ul.pucejaune {
    list-style-type: disc;
    margin-top: 0px;
    margin-bottom: 30px;
    list-style-image: url(http://www.ressources.polymtl.ca/img/puce_10.gif);
}

.sanspuce {
    list-style-type: none;
    list-style-image: url(none);
}
.marge-hautbas {
    margin-top: 3px;
    margin-bottom: 3px;
}
img.photo_marge_g {
    margin-left: 10px;
    margin-bottom: 8px;
}
img.photo_marge_d {
    margin-right: 10px;
    margin-bottom: 8px;
}


h2 { margin-top: 3ex; border-bottom: thin dotted; }

ul li { margin-top: 0px; padding-bottom: 3px; }

p { text-align: justify; }

.entete
{
    /*background: #ffc;*/
    font-size: 20px;
    color: #034f93;
}

.entete2
{
    /*background: #ffc;*/
    font-size: 14px;
    color: #034f93;
}

.baspage
{
    font-size: 70%;
    /* font-style: italic; */
}

span.red       { color: red; }
span.blue      { color: blue; }
span.cyan      { color: cyan; }
span.magenta   { color: magenta; }
span.green     { color: green; }
span.chocolate { color: chocolate; }
span.hi        { color: #c03030; }

h1 { font-size:140%; color:#336699; }
h2 { font-size:120%; color:#000000; }
h3 { font-size:110%; color: #334466; }

/* h1 { color: #034f93; } */
/* h1 { color: #885500; } */
/* h2 { color: #008822; } */
/* h3 { color: #026f69; } */
/* h4 { color: #034f93; } */
/* h5 { color: #036f93; } */
