




/*
     FILE ARCHIVED ON 9:15:45 janv. 3, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:16:42 oct. 28, 2011.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
body 
{scrollbar-arrow-color:#999999;
scrollbar-base-color:#ffffff;
scrollbar-darkshadow-color:#cccccc;
scrollbar-face-color:#ffffff;
scrollbar-highlight-color:#ffffff;
scrollbar-shadow-color:#cccccc
}

.borderdotted {	
padding: 2px 4px 2px 4px;
border: 1px #cccccc; 
border-style: dotted
}

a.menu {font-family: arial, helvetica; font-style: normal; font-size: 8pt; text-decoration: none; color: #666666; font-weight: bold; }
a.menu:hover { color: #ffffff; background-color: #FF0070; }

a.menu2 {font-family: arial, helvetica; font-style: normal; font-size: 8pt; text-decoration: none; color: #ffffff; font-weight: bold; }
a.menu2:hover { color: #ffffff; background-color: #FF0070;}

a.menu3 {font-family: arial, helvetica; font-style: normal; font-size: 8pt; text-decoration: none; color: #666666; font-weight: bold; }
a.menu3:hover { color: #cccccc; }

a.menu4 {font-family: arial, helvetica; font-style: normal; font-size: 8pt; text-decoration: none; color: #333333; font-weight: bold; }
a.menu4:hover { color: #ffffff; }

a.prodtitle {font-family: arial, helvetica; font-style: normal; font-size: 9pt; text-decoration: none; color: #333333; font-weight: bold; }
a.prodtitle:hover { color: #cccccc; }

a.proddesc {font-family: arial, helvetica; font-style: normal; font-size: 8pt; text-decoration: none; color: #333333; }
a.proddesc:hover { color: #cccccc; }

a.prodmore {font-family: arial, helvetica; font-style: normal; font-size: 9pt ; text-decoration: none; color: #FF0070; }
a.prodmore:hover { color: #ff99cc; font-size: 9pt ; }

a.tag {font-family: Courier New, Courier; font-style: normal; font-size: 12px; text-decoration: none; color: #ffffff; font-weight: bold; }
a.tag:hover { color: #666666; background-color: #ffffff;}

a.tag2 {font-family: Courier New, Courier; font-style: normal; font-size: 12px; text-decoration: none; color: #666666; font-weight: bold; }
a.tag2:hover { color: #ffffff; background-color: #666666;}

a.menup {font-family: arial, helvetica; font-style: normal; font-size: 11px; text-decoration: none; color: #666666; font-weight: bold; }
a.menup:hover { color: #ffffff; background-color: #ff0070;}


a.cal {font-family: arial, helvetica; font-style: normal; font-size: 8pt; text-decoration: none; color: #ffffff; font-weight: bold;}
a.cal:hover { color: #333333; background-color: #ffffff;}

a.submenu {font-family: Lucida Console, Monaco, Arial; font-size: 8px; text-decoration: none; color: #666666; letter-spacing: 2px;}
a.submenu:hover { color: #ffffff; background-color: #ff0070;}


a.body {font-family: arial, helvetica; font-style: normal; font-size: 8pt ; text-decoration: none; color: #ffffff; }
a.body:hover { color: #ffcc00; font-size: 8pt ; text-decoration: none; }

a.small {font-family: arial, helvetica; font-style: normal; font-size: 10px ; text-decoration: none; color: #999999; }
a.small:hover { color: #666666; font-size: 10px ; text-decoration: none; }

a.body-bg {font-family: arial, helvetica; font-style: normal; font-size: 8pt ; text-decoration: none; font-weight: bold; color: #333333; }
a.body-bg:hover { color: #999999; font-size: 8pt ; }

a.body-gg {font-family: arial, helvetica; font-style: normal; font-size: 8pt ; text-decoration: none; color: #666666; }
a.body-gg:hover { color: #cccccc; font-size: 8pt ; }

a.body-cf {font-family: arial, helvetica; font-style: normal; font-size: 8pt ; text-decoration: none; color: #cccccc; }
a.body-cf:hover { color: #ffffff; font-size: 8pt ; }

a.body-pink {font-family: arial, helvetica; font-style: normal; font-size: 8pt ; text-decoration: none; color: #FF0070; }
a.body-pink:hover { color: #ffffff; font-size: 8pt ; }

a.body-pink2 {font-family: arial, helvetica; font-style: normal; font-size: 8pt ; text-decoration: none; color: #FF0070; }
a.body-pink2:hover { color: #ff99cc; font-size: 8pt ; }

a.body3 {font-family: arial, helvetica; font-style: normal; font-size: 9px ; text-decoration: none; color: #cccccc; }
a.body3:hover { color: #ff99cc;}



a.red2 {font-family: arial, helvetica; font-style: normal; font-size: 9pt; text-decoration: none; color: #660000; }
a.red2:hover { color: #ffffff; }

a.red {font-family: arial, helvetica; font-style: normal; font-size: 8pt; text-decoration: none; color: #cc0000; }
a.red:hover { color: #660000; }

a.orange {font-family: arial, helvetica; font-style: normal; font-size: 8pt; text-decoration: none; color: #A97801; }
a.orange:hover { color: #FFB401; }

a.white {font-family: arial, helvetica; font-style: normal; font-size: 8pt; text-decoration: none; color: #ffffff; }
a.white:hover { color: #ffcc00; }

a.images {font-family: arial, helvetica; font-style: normal; font-size: 8pt; text-decoration: none; color: #333333; background-color: ffffff; }
a.images:hover { color: #ffffff; background-color: 999999;}

a.images2 {font-family: arial, helvetica; font-style: normal; font-size: 8pt; text-decoration: none; color: #ffffff; background-color: transparent; }
a.images2:hover { color: #ffffff;}

select { background-color: #ffffff; color: #333333; font-size: 8pt; font-family: arial, helvetica; width: 100px; }
.textures { background-color: #ffffff; color: #333333; font-size: 8pt; font-family: arial, helvetica; width: 120px; }
form { padding: 0px; margin-bottom: 1px; margin-top: 1px; margin-left: 2px; }



.button 
{ height: 15pt; font-size: 8pt; color: #333333; font-weight: bold; font-family: arial; text-align: center; background-color: #cccccc; text-decoration: none; }





P {font-family: arial, helvetica; font-style: normal; font-size: 10px ; margin-bottom: 1px; margin-top: 1px; } 
H1 {font-family: arial, helvetica; font-style: normal; font-size: 8pt ; color: #999999; font-weight: normal; margin-bottom: 1px; margin-top: 1px; } 
H4 {margin-bottom: 2px; margin-top: 2px; } 

SPAN, LABEL {font-family: arial, helvetica; font-style: normal; font-size: 8pt; } 
.body1  { color: #999999; font-size: 14px; letter-spacing: -1px}
.body2  { color: #333333; font-size: 11px;}
.body3  { color: #666666; font-size: 9px;}
.blk-bold { color: #333333; font-weight: bold; }
.blk { color: #333333; } 
.ans { color: #333333; font-size: 9pt;} 
.answ { color: #ffffff; font-size: 9pt;} 
.grey-bold { color: #666666; font-weight: bold; }
.grey { color: #666666; }
.grey99 { color: #999999; }
.white { color: #ffffff; }
.greycc { color: #cccccc; }
.orange { color: #ff6600; font-weight: bold; }
.pink { color: #FF0070; } 
.yellow { color: #ffcc00; }
.red { color: #cc0000; }
.red2 { color: #660000; font-weight: bold; }
.tb { margin-bottom: 1px; margin-top: 1px; }
.test { color: #ffffff; background-color: cccccc;}
.small { color: #999999; font-size: 10px;} 
.small2 { color: #666666; font-size: 8px; font-family: Arial Rounded MT; letter-spacing: 1px} 
.body { color: #999999; } 
.title { color: #cccccc; font-size: 12pt; font-family: tahoma;}
.submenu {color: #666666; font-family: Lucida Console, Monaco, Arial; font-size: 8px;}





.number1 {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: bold 35px arial; COLOR: #f5731d; PADDING-TOP: 0px;
}
.number2 {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: bold 16px arial; COLOR: #ffb401; PADDING-TOP: 0px;
}

.copyPad {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.headerCopy {
	TEXT-DECORATION: underline
}
.imagePad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; PADDING-TOP: 3px
}

.featuresDefault {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; OVERFLOW: hidden; BORDER-LEFT: #ffffff 1px solid;  CURSOR: pointer; BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative; BACKGROUND-COLOR: #e7e6e2; TEXT-ALIGN: left
}


.featuresOn {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; OVERFLOW: hidden; BORDER-LEFT: #ffffff 1px solid; CURSOR: pointer; BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative; BACKGROUND-COLOR: #dcdbd7; TEXT-ALIGN: left
}

.featuresDefault2 {
	BORDER-TOP: #ffffff 1px solid; OVERFLOW: hidden; BORDER-LEFT: #ffffff 1px solid;  CURSOR: pointer; BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative; BACKGROUND-COLOR: #333333; TEXT-ALIGN: left
}


.featuresOn2 {
	BORDER-TOP: #ffffff 1px solid; OVERFLOW: hidden; BORDER-LEFT: #ffffff 1px solid; CURSOR: pointer; BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative; BACKGROUND-COLOR: #ffcc00; TEXT-ALIGN: left
}

.featuresDefault3 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; OVERFLOW: hidden; BORDER-LEFT: #ffffff 1px solid;  CURSOR: pointer; BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative; BACKGROUND-COLOR: #dcdbd7; TEXT-ALIGN: left
}


.featuresOn3 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; OVERFLOW: hidden; BORDER-LEFT: #ffffff 1px solid; CURSOR: pointer; BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative; BACKGROUND-COLOR: #FF0070; TEXT-ALIGN: left
}

.featuresDefault4 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; OVERFLOW: hidden; BORDER-LEFT: #ffffff 1px solid;  CURSOR: pointer; BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative; BACKGROUND-COLOR: #dcdbd7; TEXT-ALIGN: left
}


.featuresOn4 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; OVERFLOW: hidden; BORDER-LEFT: #ffffff 1px solid; CURSOR: pointer; BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative; BACKGROUND-COLOR: #FF0070; TEXT-ALIGN: left
}

.featuresDefault3b {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; OVERFLOW: hidden; BORDER-LEFT: #333333 1px solid;  CURSOR: pointer; BORDER-BOTTOM: #333333 1px solid; POSITION: relative; BACKGROUND-COLOR: #666666; TEXT-ALIGN: left
}


.featuresOn3b {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; OVERFLOW: hidden; BORDER-LEFT: #333333 1px solid; CURSOR: pointer; BORDER-BOTTOM: #333333 1px solid; POSITION: relative; BACKGROUND-COLOR: #FF0070; TEXT-ALIGN: left
}

.imgover {border:1px; border-thickness: 1px; border-color: #ffffff;
border-style: solid;}
A:hover, A:active {color: #ffcc00}
A:hover .imgover, A:active .imgover {border:1px; border-thickness: 1px;
border-color: #ffcc00; border-style: solid}


