table > tbody > tr > th,
table > tbody > tr > td {
    padding: 2px;
    line-height: 1.4375;
    vertical-align: top;
}

/* table > thead > tr > th { */
/*     vertical-align: bottom; */
/*     border-bottom: 2px solid #ddd; */
/* } */

td {
    border-top: 0px solid #ddd;
    /* border-bottom: 1px solid #ddd; */
    border-bottom: 0px solid #ddd;
    border-right: 0px solid #ddd;
    border-left: 0px solid #ddd;
    border: 0px solid #ddd !important;
}

/* td.centered { */
/*     text-align: center; */
/* } */

td.monospace {
    font-family: monospace
}

.message {
    background-color: #eee !important;
    color: #000 !important;
}

/* th.border { */
/*     background-color: #eee !important; */
/*     color: #000 !important; */
/*     border: 1px solid #ddd !important; */
/* } */

select{
    height: 30px;
    background: white;
}

input {
    line-height: normal;
}
