




/*
     FILE ARCHIVED ON 7:12:52 nov. 17, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:16:46 oct. 28, 2011.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
body {
   margin: 0px;
   padding: 0px;
   background-color: #83827B;
   scrollbar-arrow-color: #999999;
   scrollbar-base-color: #FFFFFF;
   scrollbar-darkshadow-color: #CCCCCC;
   scrollbar-face-color: #FFFFFF;
   scrollbar-highlight-color: #FFFFFF;
   scrollbar-shadow-color: #CCCCCC;
}

form {
   margin-bottom: 1px;
   margin-left: 2px;
   margin-top: 1px;
   padding: 0px;
}

H1 {
   margin-bottom: 1px;
   margin-top: 1px;
   color: #666666;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   font-weight: normal;
}

H4 {
   margin-bottom: 2px;
   margin-top: 2px;
}

input[type=file] {
   border: 2px solid #666666;
   width: 70px;
   background-color: #ffffff;
   color: #333333;
   font-family: verdana;
   font-size: 10px;
   font-weight: bold;
}

select {
   background-color: #FFFFFF;
   color: #333333;
   font-family: arial, helvetica;
   font-size: 8pt;
}

SPAN {
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
}

textarea {
   border: #999999 1px solid;
   padding: 1px;
   background-color: #FFFFFF;
   font-family: Arial, sans-serif;
   font-size: 8pt;
   font-weight: normal;
}

input[type=text]
 {
   border: #999999 1px solid;
   padding: 1px;
   background-color: #FFFFFF;
   font-family: Arial, sans-serif;
   font-size: 8pt;
   font-weight: normal;
}

.amz {
   font-family: arial, helvetica;
   font-size: 9pt;
   font-weight: bold;
}

.ans {
   color: #333333;
   font-size: 9pt;
}

.answ {
   color: #FFFFFF;
   font-size: 9pt;
}

.back02 {
   background-color: #FAF3E0;
   background-image: url(http://web.archive.org/web/20071117071252/http://www.the123d.com/portfolios/images/bkg.gif);
}

.blk {
   color: #333333;
}

.blk-bold {
   color: #333333;
   font-weight: bold;
}

.borderdotted {
   border: 1px #CCCCCC;
   border-style: dotted;
   padding: 2px 4px 2px 4px;
}

.button {
   border: 2px solid #666666;
   background-color: #FFFFFF;
   color: #333333;
   font-family: verdana;
   font-size: 10px;
   font-weight: bold;
}

.copyPad {
   padding-bottom: 2px;
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 2px;
}

.description {
   border: 1px #CCCCCC;
   border-style: dotted;
   padding: 2px 4px 2px 4px;
   color: #999999;
}

.error {
   color: #FF0070;
   font: bold 8pt arial, helvetica;
   text-align: center;
   text-decoration: none;
}

.featuresDefault {
   border-bottom: #FFFFFF 1px solid;
   border-left: #FFFFFF 1px solid;
   border-right: #FFFFFF 1px solid;
   border-top: #FFFFFF 1px solid;
   background-color: #E7E6E2 !important;
   text-align: left;
   cursor: pointer;
   overflow: hidden;
   position: relative;
}

.featuresDefault2 {
   border-bottom: #FFFFFF 1px solid;
   border-left: #FFFFFF 1px solid;
   border-right: #FFFFFF 1px solid;
   border-top: #FFFFFF 1px solid;
   background-color: #333333;
   text-align: left;
   cursor: pointer;
   overflow: hidden;
   position: relative;
}

.featuresOn {
   border-bottom: #FFFFFF 1px solid;
   border-left: #FFFFFF 1px solid;
   border-right: #FFFFFF 1px solid;
   border-top: #FFFFFF 1px solid;
   background-color: #DCDBD7 !important;
   text-align: left;
   cursor: pointer;
   overflow: hidden;
   position: relative;
}

.featuresOn2 {
   border-bottom: #FFFFFF 1px solid;
   border-left: #FFFFFF 1px solid;
   border-right: #FFFFFF 1px solid;
   border-top: #FFFFFF 1px solid;
   background-color: #FFCC00;
   text-align: left;
   cursor: pointer;
   overflow: hidden;
   position: relative;
}

.grey {
   color: #666666;
}

.grey-bold {
   color: #666666;
   font-weight: bold;
}

.greycc {
   color: #CCCCCC;
}

.headerCopy {
   text-decoration: underline;
}

.hibutton {
   border: 2px solid #666666;
   width: 60px;
   background-color: #FFFFFF;
   font-family: verdana, arial, helvetica;
   font-size: 10px;
   font-style: normal;
   font-weight: bold;
}

.imagePad {
   padding-bottom: 2px;
   padding-left: 3px;
   padding-right: 0px;
   padding-top: 3px;
}

.imgover {
   border: 1px;
   border-color: #999999;
   border-style: solid;
}

.number1 {
   margin-bottom: 0px;
   margin-top: 0px;
   padding-top: 0px;
   color: #F5731D;
   font: bold 35px arial;
}

.number2 {
   margin-bottom: 0px;
   margin-top: 0px;
   padding-top: 0px;
   color: #FFB401;
   font: bold 25px arial;
}

.orange {
   color: #FF6600;
   font-weight: bold;
}

.pad {
   padding: 10px;
}

.pink {
   color: #FF0070;
}

.red {
   color: #CC0000;
   font-weight: bold;
}

.red2 {
   color: #660000;
   font-weight: bold;
}

.small {
   color: #999999;
   font-size: 10px;
}

.smaller {
   font-size: 0.9em;
}

.subtitle {
   color: #CCCCCC;
   font-family: tahoma;
   font-size: 10pt;
}

.tb {
   margin-bottom: 1px;
   margin-top: 1px;
}

.test {
   background-color: cccccc;
   color: #FFFFFF;
}

.textures {
   width: 120px;
   background-color: #FFFFFF;
   color: #333333;
   font-family: arial, helvetica;
   font-size: 8pt;
}

.title {
   color: #CCCCCC;
   font-family: tahoma;
   font-size: 12pt !important;
}

.white {
   color: #FFFFFF;
}

.white1  {
   font-family: arial, helvetica !important;
   color: #FFFFFF;
}


.yellow {
   color: #FFCC00;
   font-weight: bold;
}

.striped {
   background-image: url("http://web.archive.org/web/20071117071252/http://www.the123d.com/portfolios/images/bkg.gif");
}

a.artlink {
   color: #FFFFFF;
   font-family: verdana, arial, helvetica;
   font-size: 10px;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}

a.artlink2 {
   color: #666666;
   font-family: verdana, arial, helvetica;
   font-size: 10px;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}

a.artlink3 {
   color: #666666;
   font-family: verdana, arial, helvetica;
   font-size: 10px;
   font-style: normal;
   text-decoration: none;
}

a.artlink4 {
   color: #FFFFFF;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   text-decoration: none;
}

a.body {
   color: #FFFFFF;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   text-decoration: underline;
}

a.body-bg {
   color: #333333;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}

a.body-cf {
   color: #CCCCCC;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   text-decoration: none;
}

a.body-gg {
   color: #666666;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   text-decoration: none;
}

a.body-pink {
   color: #FF0070;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   text-decoration: none;
}

a.body-pink2 {
   color: #FF0070;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   text-decoration: none;
}

a.ecard {
   color: #A97801;
   font-family: arial, helvetica;
   font-size: 20px;
   font-style: normal;
   text-decoration: none;
}

a.images {
   background-color: ffffff;
   color: #333333;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   text-decoration: none;
}

a.images2 {
   background-color: transparent;
   color: #FFFFFF;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   text-decoration: none;
}

a.menu {
   color: #666666;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}

a.menu3 {
   color: #666666;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}

a.menu4 {
   color: #333333;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}

a.menup {
   color: #666666;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}

a.orange {
   color: #A97801;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   text-decoration: none;
}

a.red {
   color: #CC0000;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   text-decoration: none;
}

a.red2 {
   color: #660000;
   font-family: arial, helvetica;
   font-size: 9pt;
   font-style: normal;
   text-decoration: none;
}

a.small {
   color: #999999;
   font-family: arial, helvetica;
   font-size: 10px;
   font-style: normal;
   text-decoration: none;
}

a.artlink:hover {
   color: #FF6600;
   font-size: 10px;
}

a.artlink2:hover {
   color: #FFCC00;
   font-size: 10px;
}

a.artlink3:hover {
   color: #CC6600;
   font-size: 10px;
}

a.artlink4:hover {
   color: #FFCC00;
}

a.body:hover {
   color: #FF6600;
   font-size: 8pt;
   text-decoration: none;
}

a.body-bg:hover {
   color: #999999;
   font-size: 8pt;
}

a.body-cf:hover {
   color: #FFFFFF;
   font-size: 8pt;
}

a.body-gg:hover {
   color: #CCCCCC;
   font-size: 8pt;
}

a.body-pink:hover {
   color: #FFFFFF;
   font-size: 8pt;
}

a.body-pink2:hover {
   color: #FF99CC;
   font-size: 8pt;
}

a.ecard:hover {
   color: #FFB401;
}

a.images:hover {
   background-color: 999999;
   color: #FFFFFF;
}

a.images2:hover {
   color: #FFFFFF;
}

a.menu:hover {
   color: #FFFFFF;
}

a.menu3:hover {
   color: #CCCCCC;
}

a.menu4:hover {
   color: #FFFFFF;
}

a.menup:hover {
   background-color: #FF0070;
   color: #FFFFFF;
}

a.orange:hover {
   color: #FFB401;
}

a.red:hover {
   color: #660000;
}

a.red2:hover {
   color: #FFFFFF;
}

a.small:hover {
   color: #666666;
   font-size: 10px;
   text-decoration: none;
}

A:hover, A:active {
   color: #FFCC00;
}

A:hover .imgover, A:active .imgover {
   border: 1px;
   border-color: #FFCC00;
   border-style: solid;
}

a.email {
   color: #CCCCCC;
   font-family: tahoma !important;
   font-size: 12pt !important;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}

a.email {
   color: #CCCCCC;
   font-family: tahoma;
   font-size: 12pt;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}

a.link1 {
   color: #FF0070;
   font-family: arial, helvetica;
   font-size: 8pt !important;
   font-style: normal;
   text-decoration: none;
}

P, .text {
   margin-bottom: 1px;
   margin-top: 1px;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
}

a.email:hover {
   color: #FFCC00;
}

a.email:hover {
   color: #FFCC00;
}

a.link1:hover {
   color: #FF99CC;
   font-size: 8pt;
}

#mainContent  input[type=file] {
   border: 2px solid #666666;
   width: 70px;
   background-color: #FFFFFF;
   color: #333333;
   font-family: verdana;
   font-size: 10px;
   font-weight: bold;
}

#mainContent form {
   margin: 0px;
   padding: 0px;
}

#mainContent h1 {
   margin: 15px 0px 5px;
   color: #E7C600;
   font-size: 14px;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
}

#mainContent input[type=submit] {
   border: 2px solid #666666;
   background-color: #FFFFFF; /*
   padding: 1px 5px;
   color: #333333;
   font-family: verdana;
   font-size: 12px;
   font-weight: bold;
   */
   color: #333333;
   font-family: verdana;
   font-size: 10px;
   font-weight: bold;
}

#mainContent .data {
   padding: 5px;
   background-color: #D9EAF3;
}

#mainContent .error {
   color: #FF0000;
   font-weight: bold;
}

#mainContent .hi {
   background-color: #E1E1DA;
}

#mainContent .vpad {
   padding: 10px 0px;
}

.h2_alike, #mainContent h2 {
   margin: 7px 0px 3px;
   color: #9C9C63;
   font-size: 12px;
   font-style: italic;
   text-align: center;
}

#mainContent a.menu2 {
   color: #FFFFFF;
   font-family: arial, helvetica;
   font-size: 8pt;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}

#mainContent a.menu2:hover {
   color: #FFFF00;
}

#mainContent a.snLink {
   color: #FFFF00;
}

#mainContent,  #mainContent a{
   font-family: Arial, Helvetica;
   font-size: 10px;
}

#login input[type=text], #login input[type=password], #login select {
   width: 140px;
   font-family: Arial, sans-serif;
   font-size: 8pt;
   font-weight: normal;
   height: 18px;
}

#mainContent input[type=text], #mainContent select, #mainContent textarea {
   border: #666666 1px solid;
   margin: 0px;
   background-color: #FFFFFF;
   font-family: Arial,sans-serif;
   font-size: 8pt;
}

#mainContent .sans *, #mainContent span.sans , #mainContent span.body.sans {
   font-family: arial, helvetica !important;
   color: #333;
}


#mainContent td#white *{
   color: white;
}

.menu21 
{
/*	DISPLAY: inline; */
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 

	FONT: 10px arial, helvetica;
   	color: #FFFFFF;
	text-decoration: none;
	TEXT-ALIGN: center; 
}

.menu21 a 
{
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 

	TEXT-DECORATION: none;
	FONT: 10px arial, helvetica;
   	color: #FFFFFF;
}

.menu21 a:hover {
	COLOR: #ff0000;
	BACKGROUND-COLOR: #ffffff;
	FONT: 10px arial, helvetica ;
    text-decoration: none;
}

.select
{
/*	DISPLAY: inline; */
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 

	FONT: bold arial, helvetica !important;
   	color: #FFCC00;
	text-decoration: none;
	TEXT-ALIGN: center; 
}

